<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <title>Visualizador CFDI v0.4</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="assets/style.css" rel="stylesheet" />
    </head>
    <body ng-app="CFDIapp" ng-controller="CDFICtrl">

        <div class="container">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="#">CFDI v3.2</a></li>
                <li><a href="#">CFDI v3.3</a></li>
                <li><a href="#">Búsquedas</a></li>
                <li><a href="#">Enlaces</a></li>
            </ul>
            <ul class="nav nav-pills nav-justified">
            </ul>
        </div>


        <div class="container">
            <div class="card">
                <h1>Visualizador de archivos CFDI (alpha)</h1>
                <div class="alert alert-warning">
                    <p>Visualizador en <code>fase de desarrollo</code> para archivos CFDI en formato .xml emitidos por el SAT.</p>
                    <p>Soporte para CFDI v3.2+. Navegadores soportados: Chrome | Firefox</p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>Seleccionar un directorio: <input files="cfdis" type="file" name="files[]" accept="text/xml" webkitdirectory directory multiple/></p>
                        <div class="dropdown" drop="cfdis">
                            <span>Arrastra uno o varios archivos</span>
                        </div>
                        <p>{{cfdis.lengtd}} archivos seleccionados.</p>
                        <button class="btn btn-primary btn-lg" ng-click="cargarComprobantes()">Cargar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row summary">
                    <div class="col-sm-3 col-xs-6">
                        <span class="total">{{resumen.totalImpuestosRetenidos| currency}}</span>
                        <span class="title">RETENIDOS</span>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <span class="total">{{resumen.totalImpuestosTrasladados| currency}}</span>
                        <span class="title">TRASLADADOS</span>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <span class="total">{{resumen.subtotal| currency}}</span>
                        <span class="title">SUBTOTAL</span>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <span class="total">{{resumen.total| currency}}</span>
                        <span class="title">TOTAL</span>
                    </div>
                </div>
            </div>

            <div class="card" ng-repeat="certificado in certificados">
                <div class="row">
                    <div class="col-xs-12">
                        <section>
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="header">{{certificado.emisor.nombre}}</div>
                                    <div class="meta">{{certificado.emisor.rfc}} <span class="label label-default">CFDI</span></div>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <button ng-click="_detalleCerficiado = !_detalleCerficiado" class="btn btn-link">{{_detalleCerficiado ? "VER MENOS" : "VER MÁS"}}</button>
                                </div>
                            </div>
                        </section>

                        <hr>

                        <div class="row summary">
                            <div class="col-sm-3 col-xs-6">
                                <span class="total">{{certificado.impuestos.totalImpuestosRetenidos| currency}}</span>
                                <span class="title">RETENIDOS</span>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <span class="total">{{certificado.impuestos.totalImpuestosTrasladados| currency}}</span>
                                <span class="title">TRASLADADOS</span>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <span class="total">{{certificado.subTotal| currency}}</span>
                                <span class="title">SUBTOTAL</span>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <span class="total">{{certificado.total| currency}}</span>
                                <span class="title">TOTAL</span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div ng-show="_detalleCerficiado">
                    <div class="row">
                        <div class="col-md-3">
                            <section>
                                <label class="label label-default">Emisor</label>
                                <span ng-init="emisorVerMas = false;" ng-click="_emisor = !_emisor;" class="btn btn-link">{{_emisor ? "VER MENOS" : "VER MÁS"}}</span>
                                <div class="header">{{certificado.emisor.nombre}}</div>
                                <div class="meta">{{certificado.emisor.rfc}}</div>

                                <div ng-show="_emisor" class="emisor">
                                    <hr>
                                    <h5>Regimen fiscal</h5>
                                    <p ng-repeat="regimen in certificado.emisor.regimenFiscal">{{regimen}}</p>
                                    <hr>
                                    <h5>Domicilio fiscal</h5>
                                    <table class="table-responsive table-padded" ng-init="domicilioFiscal = certificado.emisor.domicilioFiscal">
                                        <tr><td>CALLE</td>      <td>{{domicilioFiscal.calle}}</td></tr>
                                        <tr><td># INTERIOR</td> <td>{{domicilioFiscal.noInterior}}</td></tr>
                                        <tr><td># EXTERIOR</td> <td>{{domicilioFiscal.noExterior}}</td></tr>
                                        <tr><td>LOCALIDAD</td>  <td>{{domicilioFiscal.localidad}}</td></tr>
                                        <tr><td>COLONIA</td>    <td>{{domicilioFiscal.colonia}}</td></tr>
                                        <tr><td>MUNICIPIO</td>  <td>{{domicilioFiscal.municipio}}</td></tr>
                                        <tr><td>ESTADO</td>     <td>{{domicilioFiscal.estado}}</td></tr>
                                        <tr><td>PAIS</td>       <td>{{domicilioFiscal.pais}}</td></tr>
                                        <tr>
                                            <td>CP</td>
                                            <td>
                                                <a ng-if="domicilioFiscal.codigoPostal" target="_blank" href="https://www.google.com.mx/maps/search/{{domicilioFiscal.codigoPostal}}/">{{domicilioFiscal.codigoPostal}}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </section>

                            <hr>

                            <section>
                                <label class="label label-default">Receptor</label>
                                <span ng-init="_receptor = false;" ng-click="_receptor = !_receptor;" class="btn btn-link">{{_receptor ? "VER MENOS" : "VER MÁS"}}</span>
                                <div class="header">{{certificado.receptor.nombre}}</div>
                                <div class="meta">{{certificado.receptor.rfc}}</div>

                                <div ng-show="_receptor" ng-init="domicilio = certificado.receptor.domicilio">
                                    <h5>Domicilio fiscal</h5>
                                    <table class="table-responsive table-padded">
                                        <tr><td>CALLE</td>      <td>{{domicilio.calle}}</td></tr>
                                        <tr><td># INTERIOR</td> <td>{{domicilio.noInterior}}</td></tr>
                                        <tr><td># EXTERIOR</td> <td>{{domicilio.noExterior}}</td></tr>
                                        <tr><td>LOCALIDAD</td>  <td>{{domicilio.localidad}}</td></tr>
                                        <tr><td>COLONIA</td>    <td>{{domicilio.colonia}}</td></tr>
                                        <tr><td>MUNICIPIO</td>  <td>{{domicilio.municipio}}</td></tr>
                                        <tr><td>ESTADO</td>     <td>{{domicilio.estado}}</td></tr>
                                        <tr><td>PAIS</td>       <td>{{domicilio.pais}}</td></tr>
                                        <tr>
                                            <td>CP</td>
                                            <td>
                                                <a ng-if="domicilio.codigoPostal" target="_blank" href="{{'https://www.google.com.mx/maps/search/' + domicilio.codigoPostal + '/' }}">{{domicilio.codigoPostal}}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </section>

                            <section>
                                <label class="label label-default">Expedido en</label>
                                <span ng-init="_expedidoEn = false;" ng-click="_expedidoEn = !_expedidoEn;" class="btn btn-link">{{_expedidoEn ? "VER MENOS" : "VER MÁS"}}</span>
                                <div ng-show="_expedidoEn">
                                    <h5>Domicilio</h5>
                                    <table class="table-responsive table-padded"
                                           ng-init="expedidoEn = certificado.emisor.expedidoEn">
                                        <tr><td>CALLE</td>      <td>{{expedidoEn.calle}}</td></tr>
                                        <tr><td># INTERIOR</td> <td>{{expedidoEn.noInterior}}</td></tr>
                                        <tr><td># EXTERIOR</td> <td>{{expedidoEn.noExterior}}</td></tr>
                                        <tr><td>LOCALIDAD</td>  <td>{{expedidoEn.localidad}}</td></tr>
                                        <tr><td>COLONIA</td>    <td>{{expedidoEn.colonia}}</td></tr>
                                        <tr><td>MUNICIPIO</td>  <td>{{expedidoEn.municipio}}</td></tr>
                                        <tr><td>ESTADO</td>     <td>{{expedidoEn.estado}}</td></tr>
                                        <tr><td>PAIS</td>       <td>{{expedidoEn.pais}}</td></tr>
                                        <tr>
                                            <td>CP</td>
                                            <td>
                                                <a ng-if="expedidoEn.codigoPostal" target="_blank" href="{{'https://www.google.com.mx/maps/search/' + expedidoEn.codigoPostal + '/' }}">{{expedidoEn.codigoPostal}}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </section>
                        </div>

                        <div class="col-md-6 col-sm-8">
                            <section>
                                <section>
                                    <label class="label label-default">Conceptos</label>
                                    <div class="conceptos">
                                        <div class="concepto" ng-repeat="concepto in certificado.conceptos">
                                            <div>
                                                <span class="text-bold">{{concepto.cantidad}} {{concepto.unidad}}</span> {{concepto.descripcion}}
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-9"></div>
                                                <div class="col-xs-3">
                                                    <h5 class="text-right">{{ concepto.importe | currency }}</h5>
                                                </div>
                                            </div>
                                            <span class="btn btn-link"
                                                  ng-init="_concepto = false;"
                                                  ng-click="_concepto = !_concepto">{{ _concepto ? "VER MENOS" : "VER MÁS" }}
                                            </span>
                                            <div class="row" ng-show="_concepto">
                                                <div class="col-xs-6" ng-if="concepto.valorUnitario !== null">
                                                    <h5>Valor Unitario</h5>
                                                    {{ concepto.valorUnitario | currency }}
                                                </div>
                                                <div class="col-xs-6" ng-if="concepto.cuentaPredial !== null">
                                                    <h5>Cuenta pedrial</h5>
                                                    {{ concepto.cuentaPredial}}
                                                </div>
                                                <div class="col-xs-6" ng-if="concepto.informacionAduanera !== null">
                                                    <h5>Información Aduanera</h5>
                                                    <table class="table-responsive table-padded">
                                                        <tr><td>FECHA</td>     <td>{{concepto.informacionAduanera.fecha}}</td></tr>
                                                        <tr><td>NÚMERO</td>    <td>{{concepto.informacionAduanera.numero}}</td></tr>
                                                        <tr><td>ADUANA</td>    <td>{{concepto.informacionAduanera.aduana}}</td></tr>
                                                    </table>
                                                </div>
                                                <div class="col-xs-6" ng-if="concepto.noIdentificacion !== null">
                                                    <h5>No Identificación</h5>
                                                    {{ concepto.noIdentificacion}}
                                                </div>
                                                <div class="col-xs-12" ng-if="concepto.parte !== null">
                                                    <h5>Partes</h5>

                                                    <table class="table-responsive table-padded" ng-if="concepto.informacionAduanera !== null">
                                                        <tr><td colspan="2"><h5>INFORMACIÓN ADUANERA</h5></td></tr>
                                                        <tr><td>FECHA</td><td>{{concepto.parte.informacionAduanera.fecha}}</td></tr>
                                                        <tr><td>NÚMERO</td><td>{{concepto.parte.informacionAduanera.numero}}</td></tr>
                                                        <tr><td>ADUANA</td><td>{{concepto.parte.informacionAduanera.aduana}}</td></tr>
                                                    </table>

                                                    <table class="table-responsive table-padded">
                                                        <tr ng-if="concepto.parte.cantidad !== null">
                                                            <td>CANTIDAD</td>
                                                            <td>{{concepto.parte.cantidad}}</td>
                                                        </tr>
                                                        <tr ng-if="concepto.parte.valorUnitario !== null">
                                                            <td>VALOR UNITARIO</td>
                                                            <td>{{concepto.parte.valorUnitario}}</td>
                                                        </tr>
                                                        <tr ng-if="concepto.parte.importe !== null">
                                                            <td>IMPORTE</td>
                                                            <td>{{concepto.parte.importe}}</td>
                                                        </tr>
                                                        <tr ng-if="concepto.parte.unidad !== null">
                                                            <td>UNIDAD</td>
                                                            <td>{{concepto.parte.unidad}}</td>
                                                        </tr>
                                                        <tr ng-if="concepto.parte.descripcion !== null">
                                                            <td>DESCRIPCION</td>
                                                            <td>{{concepto.parte.descripcion}}</td>
                                                        </tr>
                                                        <tr ng-if="concepto.parte.noIdentificacion !== null">
                                                            <td>NO. IDENTIFICACIÓN</td>
                                                            <td>{{concepto.parte.noIdentificacion}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </section>

                                <section ng-if="certificado.complemento.timbreFiscalDigital != null">
                                    <label class="label label-default">Complementos</label>
                                    <h5>Timbre fiscal digital <button ng-click="_timbreFiscal = !_timbreFiscal" class="btn btn-link">{{_timbreFiscal ? "VER MENOS" : "VER MÁS"}}</button></h5>

                                    <table 
                                        ng-show="_timbreFiscal" 
                                        ng-init="timbreFiscal = certificado.complemento.timbreFiscalDigital"
                                        class="table-responsive table-padded">
                                        <tr><td style="width: 9em;">Fecha de timbrado</td><td>{{timbreFiscal.fechaTimbrado| date : 'dd/MM/yyyy h:mm:ss a'}}</td></tr>
                                        <tr><td>No. certificado SAT</td><td>{{timbreFiscal.noCertificadoSAT}}</td></tr>
                                        <tr><td>Sello CFD</td><td>{{timbreFiscal.selloCFD}}</td></tr>
                                        <tr><td>Sello SAT</td><td>{{timbreFiscal.selloSAT}}</td></tr>
                                        <tr><td>Version</td><td>{{timbreFiscal.version}}</td></tr>
                                    </table>
                                    <hr>
                                </section>

                                <section
                                    ng-init="nomina = certificado.complemento.nomina" 
                                    ng-if="certificado.complemento.nomina != null">
                                    <h5>Nómina <button ng-click="_nomina = !_nomina" class="btn btn-link">{{_nomina ? "VER MENOS" : "VER MÁS"}}</button></h5>

                                    <section ng-show="_nomina">
                                        <section ng-if="nomina.percepciones !== null">
                                            <h6>Percepciones</h6>
                                            <table class="table-responsive table-padded">
                                                <tr>
                                                    <td>Total gravado: {{nomina.percepciones.totalGravado| currency}}</td>
                                                    <td>Total exento: {{nomina.percepciones.totalExento| currency}}</td>
                                                </tr>
                                            </table>
                                            <div class="panel-group" id="accordion-p" role="tablist" aria-multiselectable="true">
                                                <div class="panel" ng-repeat="percepcion in nomina.percepciones.percepcion">
                                                    <div class="panel-heading" role="tab">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion-p" href="#p{{percepcion.tipoPercepcion}}{{certificado.folio}}" aria-expanded="false">
                                                                {{percepcion.tipoPercepcion| nominaTipoPercepcion}}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="p{{percepcion.tipoPercepcion}}{{certificado.folio}}" class="panel-collapse collapse" role="tabpanel">
                                                        <div class="panel-body">
                                                            <table class="table-responsive table-padded">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width: 9em;">Tipo de percepción</td>
                                                                        <td><strong>{{percepcion.tipoPercepcion}}</strong> {{percepcion.tipoPercepcion| nominaTipoPercepcion}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Concepto</td>
                                                                        <td>{{percepcion.concepto}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Clave</td>
                                                                        <td>{{percepcion.clave}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Importe Gravado</td>
                                                                        <td>{{percepcion.importeGravado| currency}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Importe Exento</td>
                                                                        <td>{{percepcion.importeExento| currency}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </section>

                                        <section ng-if="nomina.deducciones !== null">
                                            <h6>Deducciones</h6>
                                            <table class="table-responsive table-padded">
                                                <tr>
                                                    <td>Total gravado: {{nomina.deducciones.totalGravado| currency}}</td>
                                                    <td>Total exento: {{nomina.deducciones.totalExento| currency}}</td>
                                                </tr>
                                            </table>
                                            <div class="panel-group" id="accordion-d" role="tablist" aria-multiselectable="false">
                                                <div class="panel" ng-repeat="deduccion in nomina.deducciones.deduccion">
                                                    <div class="panel-heading" role="tab">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion-d" href="#d{{deduccion.tipoDeduccion}}{{certificado.folio}}" aria-expanded="false">
                                                                {{deduccion.tipoDeduccion| nominaTipoDeduccion}}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="d{{deduccion.tipoDeduccion}}{{certificado.folio}}" class="panel-collapse collapse" role="tabpanel">
                                                        <div class="panel-body">
                                                            <table class="table-responsive table-padded">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width: 9em;">Tipo de percepción</td>
                                                                        <td><strong>{{deduccion.tipoDeduccion}}</strong> {{deduccion.tipoDeduccion| nominaTipoDeduccion}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Concepto</td>
                                                                        <td>{{deduccion.concepto}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Clave</td>
                                                                        <td>{{deduccion.clave}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Importe Gravado</td>
                                                                        <td>{{deduccion.importeGravado| currency}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Importe Exento</td>
                                                                        <td>{{deduccion.importeExento| currency}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </section>

                                        <section ng-if="nomina.incapacidades !== null">
                                            <h6>Incapacidades</h6>
                                            <table class="table-responsive table-padded" ng-repeat="incapacidad in nomina.incapacidades">
                                                <tr><td>{{incapacidad.tipoIncapacidad}}</td></tr>
                                                <tr><td>{{incapacidad.diasIncapacidad}}</td></tr>
                                                <tr><td>{{incapacidad.descuento| currency}}</td></tr>
                                            </table>
                                            <hr>
                                        </section>

                                        <section ng-if="nomina.horasExtras !== null">
                                            <h6>Horas Extra</h6>
                                            <table class="table-responsive table-padded" ng-repeat="horaExtra in nomina.horasExtras">
                                                <tr><td>{{horaExtra.tipoHoras}}</td></tr>
                                                <tr><td>{{horaExtra.dias}}</td></tr>
                                                <tr><td>{{horaExtra.horasExtra}}</td></tr>
                                                <tr><td>{{horaExtra.importePagado| currency}}</td></tr>
                                            </table>
                                            <hr>
                                        </section>

                                        <button ng-click="_nominaDetalle = !_nominaDetalle" class="btn btn-link btn-block">{{_nominaDetalle ? "VER MENOS" : "VER MÁS DETALLE DE NÓMINA"}}</button>

                                        <section ng-show="_nominaDetalle">
                                            <table class="table-responsive table-padded">
                                                <tr><td>Version</td><td>{{nomina.version}}</td></tr>
                                                <tr><td>Registro patronal</td><td>{{nomina.registroPatronal}}</td></tr>
                                                <tr><td>Num. Empleado</td><td>{{nomina.numEmpleado}}</td></tr>
                                                <tr><td>CURP</td><td>{{nomina.curp}}</td></tr>
                                                <tr><td>Tipo de regimen</td><td><strong>{{nomina.tipoRegimen}}</strong> {{nomina.tipoRegimen| nominaRegimenContratacion}}</td></tr>
                                                <tr><td>Num. Seguridad Social</td><td>{{nomina.numSeguridadSocial}}</td></tr>
                                                <tr><td>Fecha de pago</td><td>{{nomina.fechaPago}}</td></tr>
                                                <tr><td>Fecha inicial pago</td><td>{{nomina.fechaInicialPago}}</td></tr>
                                                <tr><td>Fecha final pago</td><td>{{nomina.fechaFinalPago}}</td></tr>
                                                <tr><td>Num. dias pagados</td><td>{{nomina.numDiasPagados}}</td></tr>
                                                <tr><td>Departamento</td><td>{{nomina.departamento}}</td></tr>
                                                <tr><td>CLABE</td><td>{{nomina.clabe}}</td></tr>
                                                <tr><td>Banco</td><td>{{nomina.banco}}</td></tr>
                                                <tr><td>Antiguedad</td><td>{{nomina.antiguedad}}</td></tr>
                                                <tr><td>Puesto</td><td>{{nomina.puesto}}</td></tr>
                                                <tr><td>Tipo de contrato</td><td>{{nomina.tipoContrato}}</td></tr>
                                                <tr>
                                                    <td>
                                                        Tipo jornada <i class="glyphicon glyphicon-info-sign" title="Tipo de jornada que cubre el trabajador: Diurna, nocturna, mixta, por hora, reducida, continuada, partida, por turnos, etc."></i>
                                                    </td>
                                                    <td>{{nomina.tipoJornada}}</td></tr>
                                                <tr>
                                                    <td>
                                                        Periodicidad de pago <i class="glyphicon glyphicon-info-sign" title="Forma en que se establece el pago del salario: diario, semanal, quincenal, catorcenal mensual, bimestral, unidad de obra, comisión, precio alzado, etc."></i>
                                                    </td>
                                                    <td>{{nomina.periodicidadPago}}</td></tr>
                                                <tr>
                                                    <td>
                                                        Salario base de cotización <i class="glyphicon glyphicon-info-sign" title="Retribución otorgada al trabajador, que se integra por los pagos hechos en efectivo por cuota diaria, gratificaciones, percepciones, alimentación, habitación, primas, comisiones, prestaciones en especie y cualquiera otra cantidad o prestación que se entregue al trabajador por su trabajo, sin considerar los conceptos que se excluyen de conformidad con el Artículo 27 de la Ley del Seguro Social. (Se emplea para pagar las cuotas y aportaciones de Seguridad Social)."></i>
                                                    </td>
                                                    <td>{{nomina.salarioBaseCotApor}}</td></tr>
                                                <tr>
                                                    <td>
                                                        Riesgo Puesto <i class="glyphicon glyphicon-info-sign" title="Clave conforme a la Clase en que deben inscribirse los patrones, de acuerdo a las actividades que desempeñan sus trabajadores, según lo previsto en el artículo 196 del Reglamento en Materia de Afiliación Clasificación de Empresas, Recaudación y Fiscalización. Catálogo publicado en el portal del SAT en internet"></i>
                                                    </td>
                                                    <td><strong>{{nomina.riesgoPuesto}}</strong> {{nomina.riesgoPuesto| nominaRiesgoPuesto}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Salario diario integrado <i class="glyphicon glyphicon-info-sign" title="El salario se integra con los pagos hechos en efectivo por cuota diaria, gratificaciones, percepciones, habitación, primas, comisiones, prestaciones en especie y cualquiera otra cantidad o prestación que se entregue al trabajador por su trabajo, de conformidad con el Art. 84 de la Ley Federal del Trabajo. (Se utiliza para el cálculo de las indemnizaciones)."></i>
                                                    </td>
                                                    <td>{{nomina.salarioDiarioIntegrado| currency}}</td></tr>
                                            </table>
                                        </section>

                                        <hr>
                                    </section>
                                </section>
                            </section>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <section>
                                <label class="label label-default">Impuestos</label>
                                <h5>Trasladados</h5>
                                <div ng-if="!certificado.impuestos.traslados">
                                    Ninguno.
                                </div>
                                <table ng-if="certificado.impuestos.traslados.lengtd > 0" class="table-responsive table-padded">
                                    <tr ng-repeat="traslado in certificado.impuestos.traslados">
                                        <td>{{traslado.importe| currency}}</td>
                                        <td>{{traslado.impuesto}} | TASA: {{traslado.tasa}}</td>
                                    </tr>
                                </table>
                            </section>

                            <hr>

                            <section>
                                <h5>Retenciones</h5>
                                <div ng-if="!certificado.impuestos.retenciones">
                                    Ninguno.
                                </div>
                                <table ng-if="certificado.impuestos.retenciones.lengtd > 0" class="table-responsive table-padded">
                                    <tr ng-repeat="retencion in certificado.impuestos.retenciones">
                                        <td>{{retencion.importe| currency}}</td>
                                        <td>{{retencion.impuesto}}</td>
                                    </tr>
                                </table>
                            </section>

                            <hr>

                            <section>
                                <h5>Información de pago</h5>
                                <table class="table-responsive table-padded">
                                    <tr>
                                        <td>Forma</td>
                                        <td>{{certificado.formaDePago}}</td>
                                    </tr>
                                    <tr>
                                        <td>Método</td>
                                        <td>{{certificado.metodoDePagoDePago}}</td>
                                    </tr>
                                    <tr>
                                        <td>Condiciones</td>
                                        <td>{{certificado.condicionesDePago}}</td>
                                    </tr>
                                </table>
                            </section>
                        </div>
                    </div>

                    <div ng-init="_masDetalle = false">
                        <span ng-click="_masDetalle = !_masDetalle" class="btn btn-link btn-block">
                            {{_masDetalle ? "VER MENOS DETALLE" : "VER MÁS DETALLE"}}
                        </span>

                        <div class="row" ng-show="_masDetalle">
                            <div class="col-sm-6">
                                <section>
                                    <label class="label label-default">Certificado</label>
                                    <h5>Información del certificado</h5>
                                    <table class="table-responsive table-padded">
                                        <tr><td>Versión</td><td>{{certificado.version}}</td></tr>
                                        <tr><td>Serie</td><td>{{certificado.serie}}</td></tr>
                                        <tr><td>Folio</td><td>{{certificado.folio}}</td></tr>
                                        <tr><td>Forma de pago</td><td>{{certificado.formaDePago}}</td></tr>
                                        <tr><td>Método de pago</td><td>{{certificado.metodoDePago}}</td></tr>
                                        <tr><td>Condiciones de pago</td><td>{{certificado.condicionesDePago}}</td></tr>
                                        <tr><td>Tipo de comprobante</td><td>{{certificado.tipoDeComprobante}}</td></tr>
                                    </table>
                                </section>
                                <hr>
                            </div>

                            <div class="col-sm-6">
                                <section>
                                    <label class="label label-default">Certificado</label>
                                    <h5>Información del certificado</h5>
                                    <table class="table-responsive table-padded">
                                        <tr><td>Num. Cuenta de pago</td><td>{{certificado.numCtaPago}}</td></tr>
                                        <tr><td>Descuento</td><td>{{certificado.descuento}}</td></tr>
                                        <tr><td>Motivo de descuento</td><td>{{certificado.motivoDescuento}}</td></tr>
                                        <tr><td>Tipo de cambio</td><td>{{certificado.tipoCambio}}</td></tr>
                                        <tr><td>Moneda</td><td>{{certificado.moneda}}</td></tr>
                                        <tr><td>Lugar de expedición</td><td>{{certificado.lugarExpedicion}}</td></tr>
                                        <tr><td>Folio Fiscal Original</td><td>{{certificado.folioFiscalOrig}}</td></tr>
                                        <tr><td>Serie folio fiscal original</td><td>{{certificado.serieFolioFiscalOrig}}</td></tr>
                                        <tr><td>Fecha folio fiscal original</td><td>{{certificado.fechaFolioFiscalOrig}}</td></tr>
                                        <tr><td>Monto Folio fiscal original</td><td>{{certificado.montoFolioFiscalOrig}}</td></tr>
                                    </table>
                                </section>
                            </div>
                            <div class="col-xs-12">
                                <section>
                                    <label class="label label-default">Certificado</label>
                                    <h5>Información del certificado</h5>
                                    <table class="table-responsive table-padded">
                                        <tr><td style="width: 120px;">No. Certificado</td><td>{{certificado.noCertificado}}</td></tr>
                                        <tr><td>Fecha</td><td>{{certificado.fecha| date : 'dd/MM/yyyy h:mm:ss a'}}</td></tr>
                                        <tr><td>Certificado</td><td>{{certificado.certificado}}</td></tr>
                                        <tr><td>Sello</td><td>{{certificado.sello}}</td></tr>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="assets/js/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="assets/js/jquery.xml2json.js"></script>

        <script src="assets/sat/complemento/TimbreFiscalDigital.js"></script>
        <script src="assets/sat/nomina11.js"></script>
        <script src="assets/sat/cfdi32.js"></script>

        <script src="assets/script.js"></script>
    </body>
</html>
